@use "sass:map";
@use "sass:color";

@use "global" as *;

$-body-background: $white;
$-body-font-color: $black;

$-palette-primary: #91acde;
$-palette-secondary: #82c7ce;

$-card-background: $light-gray;

$-switch-background: $dark-gray;
$-switch-paddle-background: $-body-background;

$-anchor-color: #2f559d;
$-anchor-color-active: color.scale($-anchor-color, $lightness: +10%);

$theme: (
  "palette-primary": $-palette-primary,
  "palette-secondary": $-palette-secondary,

  "body-font-color": $-body-font-color,
  "body-background": $-body-background,

  "card-background": $-card-background,

  "switch-background": $-switch-background,
  "switch-paddle-background": $-switch-paddle-background,

  "anchor-color": $-anchor-color,
  "anchor-color-active": $-anchor-color-active,
);

// vim: set ft=scss:
